{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <h3 class="text-white-50">Carford</h3>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto h4">
            <li id="id-home" class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a id="owners" class="nav-link" href="{%url 'owner_list'%}">Owners</a>
            </li>
            <li class="nav-item">
                <a id="cars" class="nav-link" href="{% url 'car_list'%}">Cars</a>
            </li>
        </ul>
    </div>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>


