{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Carford</title>
    <meta charset="utf-8">
    {% include 'common/link.html' %}
</head>

<body class="bg-secondary">
    <header>
        {% include 'common/header.html' %}
    </header>
    <hr style="background-color: white;">
    <div class="container-fluid">
    {% block main %}
    
    {% endblock %}
    <footer class="pt-2 my-md-2 pt-md-4 border-top fixed-bottom">
        <div class="row">
            {% include 'common/footer.html' %}
        </div>
    </footer>
</body>
{% include 'common/script.html' %}

</html>                                             